"/Week01/After Effects Auto-Save/*"
"/Week02/After Effects Auto-Save/*"
"/Week03/After Effects Auto-Save/*"
"/Week04/After Effects Auto-Save/*"
"/Week05/After Effects Auto-Save/*"
"/Week06/After Effects Auto-Save/*"
"/Week07/After Effects Auto-Save/*"
*.blend1


